*{
    margin: 0;
    padding: 0;
}
nav ul{
    font-family: "lexend";
    background-color:rgb(225, 206, 178);
    color:rgb(121, 66, 69);
    font-weight:bolder;
    line-height: 50px;
    font-size: 110%;
    z-index: 3;
}
nav ul a{
    color:rgb(121, 66, 69);
}
#color{
    color:rgb(121, 66, 69);
}
li{
    position: relative;
}
ul li a{
    text-decoration: none;
    color: rgb(121, 66, 69);
}
ul ul{
    position: absolute;
    display: none;
}
ul .header__productos li{
    display: block;
    background-color:rgb(221, 183, 149);
    color: rgb(121, 66, 69);
    font-size: 100%;
    width: 180%;
    padding: 10% 10% 10% 10%;
    margin-left: -20%;
    z-index: 4;
    transition: background-color 0.25s;
}
ul .header__recetas li{
    display: block;
    background-color:rgb(221, 183, 149);
    color: rgb(121, 66, 69);
    font-size: 100%;
    width: 200%;
    padding: 10% 10% 10% 10%;
    margin-left: -20%;
    z-index: 4;
    transition: background-color 0.25s;
}
ul li:hover ul{
    display: block;
}
ul ul li:hover{
    background-color: rgb(180, 154, 127);
}
a{
    color: rgb(121, 66, 69);
}
/* .desplegable{
    line-height: 250%;
    font-size: 100%;
    width: 100%;
} */
.border{
    padding-top: 13%;
}

h2{
    color:rgb(121, 66, 69);
    font-family: "lexend";
    animation: zoomIn;
    animation-duration: 1s;
}
p{
    color:dimgray;
    font-family: "lexend";
    animation: zoomIn;
    animation-duration: 1s;
    font-weight: bolder;
    margin-left: 3% ;
}
.buttonContainer{
    align-self: center;
}
.button {
    font-family: "lexend";
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 2%;
    margin-right: 2%;
    color: dimgray;
    font-weight: bold;
    background-color: #e1ceb2;
    border: solid 2px #e1ceb2;
    border-radius: 4px;
    text-decoration: none;
  }
